/* ************************************************************************** */
/* **************************** RESET BROWSER ******************************* */
/* ************************************************************************** */
html body {
  margin: 0;
  padding: 0;
  font-family: arial; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration-line: none; }

p {
  margin: 0; }

* {
  box-sizing: border-box; }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++ COMPORTAMIENTO - MOBILE +++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ************************************************************************** */
/* ************************* MENU DE NAVEGACION ***************************** */
/* ************************************************************************** */
.navegacion {
  background-color: #181e3e; }

.navegacion-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header img {
  width: 60px;
  height: 60px; }

.navegacion-menu {
  display: flex;
  position: absolute;
  background-image: linear-gradient(to top, #181e3e 0%, transparent 100%);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: all 0.7s ease; }

.navegacion-link {
  color: white;
  font-weight: bold; }

#navegacion-header:target .navegacion-menu {
  height: 250px; }

#navegacion-header:target .abrir {
  display: none; }

#navegacion-header:target .cerrar {
  display: flex; }

.cerrar {
  display: none; }

.navegacion-menu a:hover {
  font-size: 20px;
  color: red;
  font-weight: bold;
  transform: scale(1.3); }

/* ************************************************************************** */
/* *********************************** FOOTER ******************************* */
/* ************************************************************************** */
.grid-footer-container {
  background-color: #181e3e;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.grid-footer-item {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  color: white; }
  .grid-footer-item img {
    width: 30%; }

.col-2 a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: darkorange;
  color: black;
  font-weight: bold; }

/* ************************************************************************** */
/* ******************************** index.html ****************************** */
/* ************************************************************************** */
.grid-container-portada {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto; }
  .grid-container-portada > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04041c; }

.grid-item-portada-imagen img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.grid-item-portada-titulo h1 {
  color: white;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

/* ---- Seccion: Noticias / Novedades - Fundacion Leo Messi en Index.html ---- */
#index .grid-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'imagen imagen imagen' 'texto texto texto' 'links links links';
  grid-template-rows: auto; }

#index .grid-item-1 {
  grid-area: imagen; }

#index .grid-item-2 {
  grid-area: texto; }

#index .grid-item-3 {
  grid-area: links; }

#index .grid-container .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px; }

#index .grid-container .grid-item > img {
  border-radius: 10px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5px; }

#index .grid-container .grid-item .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 350px; }

#index .grid-item .links > div {
  text-align: center; }

#index .links img {
  width: 50%; }

#index h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: underline; }

#index .grid-item h3 {
  font-size: 18px;
  margin-top: 10px;
  text-align: center; }

#index .grid-item p {
  text-align: justify;
  padding: 10px; }

/* ------------------- Seccion: Fundacion Leo Messi en Index.html -------------- */
.boton-acciones-fundacion {
  background: #0a7ebd;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  padding: 15px; }

.flex-container-fundacion-messi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.flex-container-fundacion-messi img {
  width: 100%;
  margin: auto;
  padding: 10px; }

.flex-container-fundacion-messi h2 {
  margin: 0;
  margin-top: 40px; }

/* ************************************************************************** */
/* ***************************** biografia.html ***************************** */
/* ************************************************************************** */
#biografia .grid-container-biografia {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'imagen imagen' 'texto texto';
  grid-template-rows: auto; }

#biografia .grid-item-1 {
  grid-area: imagen; }

#biografia .grid-item-2 {
  grid-area: texto; }

#biografia .grid-container-biografia .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0 5px; }

#biografia .grid-item > img {
  width: 100%; }

#biografia h2 {
  margin-left: 5%; }

/* ************************************************************************** */
/* **************************** estadisticas.html *************************** */
/* ************************************************************************** */
.estadisticas-sub-menu {
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .estadisticas-sub-menu a {
    padding: 8px;
    background-color: dodgerblue;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-weight: bold; }

#estadisticas .grid-container-estadisticas {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'imagen imagen' 'texto texto';
  grid-template-rows: auto; }

#estadisticas .grid-item-col1 {
  grid-area: imagen; }

#estadisticas .grid-item-col2 {
  grid-area: texto; }

#estadisticas .grid-container-estadisticas .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

#estadisticas .grid-item > img {
  width: 100%;
  padding: 0 10px; }

/* ************************************************************************** */
/* ****************************** palmares.html ***************************** */
/* ************************************************************************** */
#palmares .grid-container-palmares {
  width: 100%; }

#palmares .grid-container-palmares > img {
  width: 100%; }

/* ************************************************************************** */
/* ******************************* fotos.html ******************************* */
/* ************************************************************************** */
.imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto; }
  .imagen img {
    width: 100%;
    border-radius: 5px;
    height: 300px; }

.imagen:hover {
  filter: opacity(0.9);
  transform: scale(1.05); }

.galeria {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px; }

@media (min-width: 200px) {
  .galeria {
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 600px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 750px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr); } }

/* ************************************************************************** */
/* ***************************** contacto.html ****************************** */
/* ************************************************************************** */
#contacto .container-formulario {
  margin: auto;
  padding: 20px 10px;
  background-color: pink;
  width: 100%;
  max-width: 400px;
  background: url(../img/fondo-form.jpg) no-repeat 0px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  color: white;
  font-weight: bold; }

#contacto form {
  width: 100%;
  margin: auto; }
  #contacto form label {
    display: block;
    padding: 7px 0; }
  #contacto form input {
    display: block;
    width: 100%;
    margin-top: 5px; }
  #contacto form textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 100px; }
  #contacto form .boton {
    width: 100%;
    outline: none;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #69A7D4;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s all; }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++ COMPORTAMIENTO - DESKTOP +++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ************************************************************************** */
/* **************************** MENU DE NAVEGACION ************************** */
/* ************************************************************************** */
@media (min-width: 750px) {
  .navegacion {
    display: flex;
    justify-content: space-between; }
  .navegacion-menu-mobile {
    display: none; }
    .navegacion-menu-mobile .cerrar {
      display: none; }
  .navegacion-menu {
    height: auto;
    flex-direction: row;
    position: static; }
  /* ************************************************************************** */
  /* ******************************** index.html ****************************** */
  /* ************************************************************************** */
  #index .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'imagen texto links';
    grid-template-rows: auto; }
  /* ************************************************************************** */
  /* ***************************** biografia.html ***************************** */
  /* ************************************************************************** */
  #biografia .grid-container-biografia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'imagen texto';
    grid-template-rows: auto; }
  /* ************************************************************************** */
  /* **************************** estadisticas.html *************************** */
  /* ************************************************************************** */
  .estadisticas-sub-menu {
    display: flex;
    flex-direction: row;
    margin: auto;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
    margin-top: 30px; }
    .estadisticas-sub-menu a {
      margin: 10px; }
  /* ************************************************************************** */
  /* ****************************** encuesta.html ***************************** */
  /* ************************************************************************** */
  #encuesta .container .row .margen {
    margin-top: 0 !important; }
  #encuesta .container .row select {
    width: 75%; } }
