

.grid-container-encuesta
{    
	width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;       
	grid-template-areas: 'texto texto texto'
						 'control control control';	
    grid-template-rows: auto;	
}

.grid-item-texto
{
	grid-area: texto;
}

.grid-item-control
{
	grid-area: control
}
